<h1><%=@events.size %> Events</h1>

<% @events.each do |event|%>
  <article>
    <header>
      <%= event.name %>
    </header>
    <p>
      <%= event.description %>
    </p>
    <table>
      <tr>
        <th>When:</th>
        <td><%=event.starts_at %></td>
      </tr>
      <tr>
        <th>Where:</th>
        <td><%=event.location%></td>
      </tr>
      <tr>
        <th>Price:</th>
        <td><%=event.price%></td>
      </tr>
    </table>
  </article>
<%end%>
